.container {
  height: 90vh;
  font-family: Rubik;
  font-weight: bold;
  color: #7c7c7c;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    width: 600px;
  }
}
