.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 800;
  top: 0px;
  left: 0px;
  background-color: rgba($color: #ffffff, $alpha: 0.4);
  backdrop-filter: blur(15px);
  width: 100vw;

  height: 100svh;

  input {
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 1.1rem;
    color: white;
    width: 100%;
    display: flex;
    text-align: center;
    outline: none;
    border: none;
    height: 70px;
    border-radius: 8px;
    background-color: rgb(30, 29, 29);
    transition: 0.3s ease;

    &:focus {
      transition: 0.3s ease;
      background-color: #2b41ff;
    }
  }
  .popup {
    .close {
      z-index: 600;
      top: 20px;
      right: 20px;
      height: 35px;
      width: 35px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      border: none;
      background-color: transparent;
      cursor: pointer;
      svg {
        width: 100%;
        height: 100%;
      }
      svg path {
        fill: white;
      }
    }
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 40px;
    gap: 20px;
    overflow: hidden;
    background-color: #14110f;
    width: 500px;
    height: fit-content;
    border-radius: 20px;
    label {
      color: white;
      font-weight: 700;
      height: fit-content;
    }
    .Quantity {
      display: flex;
      align-items: center;
      gap: 20px;
      .TokenBlock {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      .inUSDTBlock {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
    .Buy {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      .submitanimation {
        width: 50px;
        height: 100%;
      }
      cursor: pointer;
      color: white;
      width: 100%;
      outline: none;
      border: none;
      height: 70px;
      border-radius: 8px;
      background-color: rgb(30, 29, 29);
      &:hover {
        background-color: #2b41ff;
      }
    }
  }
}
@media screen and (max-width: 550px) {
  .popup {
    width: 400px !important;
  }
}
@media screen and (max-width: 450px) {
  .popup {
    font-size: small;
    width: 350px !important;
  }
}
@media screen and (max-height: 550px) {
  .popup {
    input {
      min-height: 50px;
    }
    button {
      min-height: 50px;
    }
    .Quantity {
      input {
        height: 50px;
      }
      height: 70px;
    }
    height: 450px !important;
  }
}
@media screen and (max-height: 480px) {
  .container {
    height: 600px;
    align-items: start;
    .popup {
      overflow-y: auto;
      height: 100vh !important;
    }
  }
}
