.container {
  overflow: hidden;

  display: flex;
  flex-direction: column;
  width: 900px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .content {
    display: flex;
    align-items: center;
    .text {
      display: flex;
      flex-direction: column;
      align-items: center;

      width: 100%;
    }
  }
  .toHome {
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 60px;
    background: #14110f;

    text-decoration: none;
    font-size: 1.5rem;
  }
}
